extends layout 

block content 
	.post
		.post__header
			h4=post.title
			if (post.writer && loggedInUser.id === String(post.writer.id))
				button.post__del-btn.post__btn 삭제
		.meta
			if post.writer
					small=post.writer.nickname
			else 
				small 탈퇴한 사용자
			small.createdAt=post.createdAt
			small 조회수 #{post.views}
		if (post.fileUrl)
			img.post__img(src=post.fileUrl, alt="")
		p #{post.content}
	div.post__comments
		form.post__comment-form#commentForm
			textarea(cols="30", rows="1", placeholder="댓글을 달아보세요.")
			button.post__btn 등록
		ul
			each comment in comments.reverse()
				li.post__comment
					.comment__header
						if comment.writer
							small=comment.writer.nickname
						else 
							small 탈퇴한 사용자
						if (comment.writer && loggedInUser.id === String(comment.writer.id))
							button(data-id=comment.id).post__btn.comment__del-btn 삭제
					small.createdAt=comment.createdAt
					br
					span=comment.text

block script
	script(src="/static/js/post.js")